---
import "public/global.css";
import Categories from "@components/Categories.astro";
import Img from "@components/Img.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Startpage</title>
    </head>
    <body>
        <main>
            <section><Categories /></section>
            <section><Img /></section>
        </main>
    </body>
</html>

<style>
    body {
        background-color: var(--color-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    main {
        display: flex;
        flex-direction: row;
        gap: 80px;
    }

    section {
        height: 50vh;
        width: 30vh;
        display: flex;
        flex-direction: column;
    }
</style>
